.visible {
  visibility: visible
}

.invisible {
  visibility: hidden
}

.static {
  position: static
}

.fixed {
  position: fixed
}

.absolute {
  position: absolute
}

.relative {
  position: relative
}

.bottom-0 {
  bottom: 0px
}

.bottom-\[10px\] {
  bottom: 10px
}

.end-0 {
  inset-inline-end: 0px
}

.left-0 {
  left: 0px
}

.left-1\/2 {
  left: 50%
}

.right-0 {
  right: 0px
}

.start-0 {
  inset-inline-start: 0px
}

.top-0 {
  top: 0px
}

.z-\[4\] {
  z-index: 4
}

.m-0 {
  margin: 0px
}

.mx-\[10px\] {
  margin-left: 10px;
  margin-right: 10px
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.\!mb-0 {
  margin-bottom: 0px !important
}

.mb-0 {
  margin-bottom: 0px
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mb-3 {
  margin-bottom: 0.75rem
}

.mb-\[25px\] {
  margin-bottom: 25px
}

.mb-\[9px\] {
  margin-bottom: 9px
}

.me-1 {
  margin-inline-end: 0.25rem
}

.me-2 {
  margin-inline-end: 0.5rem
}

.ms-1 {
  margin-inline-start: 0.25rem
}

.ms-2 {
  margin-inline-start: 0.5rem
}

.ms-auto {
  margin-inline-start: auto
}

.mt-1 {
  margin-top: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-\[10px\] {
  margin-top: 10px
}

.mt-\[15px\] {
  margin-top: 15px
}

.mt-auto {
  margin-top: auto
}

.block {
  display: block
}

.inline-block {
  display: inline-block
}

.inline {
  display: inline
}

.flex {
  display: flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.contents {
  display: contents
}

.hidden {
  display: none
}

.\!h-auto {
  height: auto !important
}

.h-\[30px\] {
  height: 30px
}

.h-\[40px\] {
  height: 40px
}

.\!w-auto {
  width: auto !important
}

.w-\[30px\] {
  width: 30px
}

.w-\[40px\] {
  width: 40px
}

.flex-none {
  flex: none
}

.flex-shrink-0 {
  flex-shrink: 0
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-100 {
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-105 {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.scale-110 {
  --tw-scale-x: 1.1;
  --tw-scale-y: 1.1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.resize {
  resize: both
}

.flex-wrap {
  flex-wrap: wrap
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.gap-1 {
  gap: 0.25rem
}

.gap-2 {
  gap: 0.5rem
}

.gap-3 {
  gap: 0.75rem
}

.gap-\[13px\] {
  gap: 13px
}

.gap-\[25px\] {
  gap: 25px
}

.gap-\[5px\] {
  gap: 5px
}

.overflow-hidden {
  overflow: hidden
}

.overflow-y-scroll {
  overflow-y: scroll
}

.\!rounded-none {
  border-radius: 0px !important
}

.rounded {
  border-radius: 0.25rem
}

.rounded-\[5px\] {
  border-radius: 5px
}

.rounded-full {
  border-radius: 9999px
}

.rounded-t-\[10px\] {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px
}

.border {
  border-width: 1px
}

.border-0 {
  border-width: 0px
}

.border-4 {
  border-width: 4px
}

.\!border-none {
  border-style: none !important
}

.border-body {
  --tw-border-opacity: 1;
  border-color: rgb(102 102 102 / var(--tw-border-opacity, 1))
}

.border-body\/0 {
  border-color: rgb(102 102 102 / 0)
}

.border-body\/10 {
  border-color: rgb(102 102 102 / 0.1)
}

.border-body\/100 {
  border-color: rgb(102 102 102 / 1)
}

.border-body\/12 {
  border-color: rgb(102 102 102 / 0.12)
}

.border-body\/15 {
  border-color: rgb(102 102 102 / 0.15)
}

.border-body\/17 {
  border-color: rgb(102 102 102 / 0.17)
}

.border-body\/20 {
  border-color: rgb(102 102 102 / 0.2)
}

.border-body\/25 {
  border-color: rgb(102 102 102 / 0.25)
}

.border-body\/27 {
  border-color: rgb(102 102 102 / 0.27)
}

.border-body\/30 {
  border-color: rgb(102 102 102 / 0.3)
}

.border-body\/35 {
  border-color: rgb(102 102 102 / 0.35)
}

.border-body\/40 {
  border-color: rgb(102 102 102 / 0.4)
}

.border-body\/45 {
  border-color: rgb(102 102 102 / 0.45)
}

.border-body\/5 {
  border-color: rgb(102 102 102 / 0.05)
}

.border-body\/50 {
  border-color: rgb(102 102 102 / 0.5)
}

.border-body\/55 {
  border-color: rgb(102 102 102 / 0.55)
}

.border-body\/60 {
  border-color: rgb(102 102 102 / 0.6)
}

.border-body\/65 {
  border-color: rgb(102 102 102 / 0.65)
}

.border-body\/70 {
  border-color: rgb(102 102 102 / 0.7)
}

.border-body\/75 {
  border-color: rgb(102 102 102 / 0.75)
}

.border-body\/8 {
  border-color: rgb(102 102 102 / 0.08)
}

.border-body\/80 {
  border-color: rgb(102 102 102 / 0.8)
}

.border-body\/85 {
  border-color: rgb(102 102 102 / 0.85)
}

.border-body\/90 {
  border-color: rgb(102 102 102 / 0.9)
}

.border-body\/95 {
  border-color: rgb(102 102 102 / 0.95)
}

.border-danger {
  --tw-border-opacity: 1;
  border-color: rgb(244 27 59 / var(--tw-border-opacity, 1))
}

.border-danger\/0 {
  border-color: rgb(244 27 59 / 0)
}

.border-danger\/10 {
  border-color: rgb(244 27 59 / 0.1)
}

.border-danger\/100 {
  border-color: rgb(244 27 59 / 1)
}

.border-danger\/12 {
  border-color: rgb(244 27 59 / 0.12)
}

.border-danger\/15 {
  border-color: rgb(244 27 59 / 0.15)
}

.border-danger\/17 {
  border-color: rgb(244 27 59 / 0.17)
}

.border-danger\/20 {
  border-color: rgb(244 27 59 / 0.2)
}

.border-danger\/25 {
  border-color: rgb(244 27 59 / 0.25)
}

.border-danger\/27 {
  border-color: rgb(244 27 59 / 0.27)
}

.border-danger\/30 {
  border-color: rgb(244 27 59 / 0.3)
}

.border-danger\/35 {
  border-color: rgb(244 27 59 / 0.35)
}

.border-danger\/40 {
  border-color: rgb(244 27 59 / 0.4)
}

.border-danger\/45 {
  border-color: rgb(244 27 59 / 0.45)
}

.border-danger\/5 {
  border-color: rgb(244 27 59 / 0.05)
}

.border-danger\/50 {
  border-color: rgb(244 27 59 / 0.5)
}

.border-danger\/55 {
  border-color: rgb(244 27 59 / 0.55)
}

.border-danger\/60 {
  border-color: rgb(244 27 59 / 0.6)
}

.border-danger\/65 {
  border-color: rgb(244 27 59 / 0.65)
}

.border-danger\/70 {
  border-color: rgb(244 27 59 / 0.7)
}

.border-danger\/75 {
  border-color: rgb(244 27 59 / 0.75)
}

.border-danger\/8 {
  border-color: rgb(244 27 59 / 0.08)
}

.border-danger\/80 {
  border-color: rgb(244 27 59 / 0.8)
}

.border-danger\/85 {
  border-color: rgb(244 27 59 / 0.85)
}

.border-danger\/90 {
  border-color: rgb(244 27 59 / 0.9)
}

.border-danger\/95 {
  border-color: rgb(244 27 59 / 0.95)
}

.border-navy-black {
  --tw-border-opacity: 1;
  border-color: rgb(15 15 23 / var(--tw-border-opacity, 1))
}

.border-navy-black\/0 {
  border-color: rgb(15 15 23 / 0)
}

.border-navy-black\/10 {
  border-color: rgb(15 15 23 / 0.1)
}

.border-navy-black\/100 {
  border-color: rgb(15 15 23 / 1)
}

.border-navy-black\/12 {
  border-color: rgb(15 15 23 / 0.12)
}

.border-navy-black\/15 {
  border-color: rgb(15 15 23 / 0.15)
}

.border-navy-black\/17 {
  border-color: rgb(15 15 23 / 0.17)
}

.border-navy-black\/20 {
  border-color: rgb(15 15 23 / 0.2)
}

.border-navy-black\/25 {
  border-color: rgb(15 15 23 / 0.25)
}

.border-navy-black\/27 {
  border-color: rgb(15 15 23 / 0.27)
}

.border-navy-black\/30 {
  border-color: rgb(15 15 23 / 0.3)
}

.border-navy-black\/35 {
  border-color: rgb(15 15 23 / 0.35)
}

.border-navy-black\/40 {
  border-color: rgb(15 15 23 / 0.4)
}

.border-navy-black\/45 {
  border-color: rgb(15 15 23 / 0.45)
}

.border-navy-black\/5 {
  border-color: rgb(15 15 23 / 0.05)
}

.border-navy-black\/50 {
  border-color: rgb(15 15 23 / 0.5)
}

.border-navy-black\/55 {
  border-color: rgb(15 15 23 / 0.55)
}

.border-navy-black\/60 {
  border-color: rgb(15 15 23 / 0.6)
}

.border-navy-black\/65 {
  border-color: rgb(15 15 23 / 0.65)
}

.border-navy-black\/70 {
  border-color: rgb(15 15 23 / 0.7)
}

.border-navy-black\/75 {
  border-color: rgb(15 15 23 / 0.75)
}

.border-navy-black\/8 {
  border-color: rgb(15 15 23 / 0.08)
}

.border-navy-black\/80 {
  border-color: rgb(15 15 23 / 0.8)
}

.border-navy-black\/85 {
  border-color: rgb(15 15 23 / 0.85)
}

.border-navy-black\/90 {
  border-color: rgb(15 15 23 / 0.9)
}

.border-navy-black\/95 {
  border-color: rgb(15 15 23 / 0.95)
}

.border-primary {
  --tw-border-opacity: 1;
  border-color: rgb(109 93 252 / var(--tw-border-opacity, 1))
}

.border-primary\/0 {
  border-color: rgb(109 93 252 / 0)
}

.border-primary\/10 {
  border-color: rgb(109 93 252 / 0.1)
}

.border-primary\/100 {
  border-color: rgb(109 93 252 / 1)
}

.border-primary\/12 {
  border-color: rgb(109 93 252 / 0.12)
}

.border-primary\/15 {
  border-color: rgb(109 93 252 / 0.15)
}

.border-primary\/17 {
  border-color: rgb(109 93 252 / 0.17)
}

.border-primary\/20 {
  border-color: rgb(109 93 252 / 0.2)
}

.border-primary\/25 {
  border-color: rgb(109 93 252 / 0.25)
}

.border-primary\/27 {
  border-color: rgb(109 93 252 / 0.27)
}

.border-primary\/30 {
  border-color: rgb(109 93 252 / 0.3)
}

.border-primary\/35 {
  border-color: rgb(109 93 252 / 0.35)
}

.border-primary\/40 {
  border-color: rgb(109 93 252 / 0.4)
}

.border-primary\/45 {
  border-color: rgb(109 93 252 / 0.45)
}

.border-primary\/5 {
  border-color: rgb(109 93 252 / 0.05)
}

.border-primary\/50 {
  border-color: rgb(109 93 252 / 0.5)
}

.border-primary\/55 {
  border-color: rgb(109 93 252 / 0.55)
}

.border-primary\/60 {
  border-color: rgb(109 93 252 / 0.6)
}

.border-primary\/65 {
  border-color: rgb(109 93 252 / 0.65)
}

.border-primary\/70 {
  border-color: rgb(109 93 252 / 0.7)
}

.border-primary\/75 {
  border-color: rgb(109 93 252 / 0.75)
}

.border-primary\/8 {
  border-color: rgb(109 93 252 / 0.08)
}

.border-primary\/80 {
  border-color: rgb(109 93 252 / 0.8)
}

.border-primary\/85 {
  border-color: rgb(109 93 252 / 0.85)
}

.border-primary\/90 {
  border-color: rgb(109 93 252 / 0.9)
}

.border-primary\/95 {
  border-color: rgb(109 93 252 / 0.95)
}

.border-secondary {
  --tw-border-opacity: 1;
  border-color: rgb(174 153 250 / var(--tw-border-opacity, 1))
}

.border-secondary\/0 {
  border-color: rgb(174 153 250 / 0)
}

.border-secondary\/10 {
  border-color: rgb(174 153 250 / 0.1)
}

.border-secondary\/100 {
  border-color: rgb(174 153 250 / 1)
}

.border-secondary\/12 {
  border-color: rgb(174 153 250 / 0.12)
}

.border-secondary\/15 {
  border-color: rgb(174 153 250 / 0.15)
}

.border-secondary\/17 {
  border-color: rgb(174 153 250 / 0.17)
}

.border-secondary\/20 {
  border-color: rgb(174 153 250 / 0.2)
}

.border-secondary\/25 {
  border-color: rgb(174 153 250 / 0.25)
}

.border-secondary\/27 {
  border-color: rgb(174 153 250 / 0.27)
}

.border-secondary\/30 {
  border-color: rgb(174 153 250 / 0.3)
}

.border-secondary\/35 {
  border-color: rgb(174 153 250 / 0.35)
}

.border-secondary\/40 {
  border-color: rgb(174 153 250 / 0.4)
}

.border-secondary\/45 {
  border-color: rgb(174 153 250 / 0.45)
}

.border-secondary\/5 {
  border-color: rgb(174 153 250 / 0.05)
}

.border-secondary\/50 {
  border-color: rgb(174 153 250 / 0.5)
}

.border-secondary\/55 {
  border-color: rgb(174 153 250 / 0.55)
}

.border-secondary\/60 {
  border-color: rgb(174 153 250 / 0.6)
}

.border-secondary\/65 {
  border-color: rgb(174 153 250 / 0.65)
}

.border-secondary\/70 {
  border-color: rgb(174 153 250 / 0.7)
}

.border-secondary\/75 {
  border-color: rgb(174 153 250 / 0.75)
}

.border-secondary\/8 {
  border-color: rgb(174 153 250 / 0.08)
}

.border-secondary\/80 {
  border-color: rgb(174 153 250 / 0.8)
}

.border-secondary\/85 {
  border-color: rgb(174 153 250 / 0.85)
}

.border-secondary\/90 {
  border-color: rgb(174 153 250 / 0.9)
}

.border-secondary\/95 {
  border-color: rgb(174 153 250 / 0.95)
}

.border-success {
  --tw-border-opacity: 1;
  border-color: rgb(34 197 94 / var(--tw-border-opacity, 1))
}

.border-success\/0 {
  border-color: rgb(34 197 94 / 0)
}

.border-success\/10 {
  border-color: rgb(34 197 94 / 0.1)
}

.border-success\/100 {
  border-color: rgb(34 197 94 / 1)
}

.border-success\/12 {
  border-color: rgb(34 197 94 / 0.12)
}

.border-success\/15 {
  border-color: rgb(34 197 94 / 0.15)
}

.border-success\/17 {
  border-color: rgb(34 197 94 / 0.17)
}

.border-success\/20 {
  border-color: rgb(34 197 94 / 0.2)
}

.border-success\/25 {
  border-color: rgb(34 197 94 / 0.25)
}

.border-success\/27 {
  border-color: rgb(34 197 94 / 0.27)
}

.border-success\/30 {
  border-color: rgb(34 197 94 / 0.3)
}

.border-success\/35 {
  border-color: rgb(34 197 94 / 0.35)
}

.border-success\/40 {
  border-color: rgb(34 197 94 / 0.4)
}

.border-success\/45 {
  border-color: rgb(34 197 94 / 0.45)
}

.border-success\/5 {
  border-color: rgb(34 197 94 / 0.05)
}

.border-success\/50 {
  border-color: rgb(34 197 94 / 0.5)
}

.border-success\/55 {
  border-color: rgb(34 197 94 / 0.55)
}

.border-success\/60 {
  border-color: rgb(34 197 94 / 0.6)
}

.border-success\/65 {
  border-color: rgb(34 197 94 / 0.65)
}

.border-success\/70 {
  border-color: rgb(34 197 94 / 0.7)
}

.border-success\/75 {
  border-color: rgb(34 197 94 / 0.75)
}

.border-success\/8 {
  border-color: rgb(34 197 94 / 0.08)
}

.border-success\/80 {
  border-color: rgb(34 197 94 / 0.8)
}

.border-success\/85 {
  border-color: rgb(34 197 94 / 0.85)
}

.border-success\/90 {
  border-color: rgb(34 197 94 / 0.9)
}

.border-success\/95 {
  border-color: rgb(34 197 94 / 0.95)
}

.border-warning {
  --tw-border-opacity: 1;
  border-color: rgb(255 234 0 / var(--tw-border-opacity, 1))
}

.border-warning\/0 {
  border-color: rgb(255 234 0 / 0)
}

.border-warning\/10 {
  border-color: rgb(255 234 0 / 0.1)
}

.border-warning\/100 {
  border-color: rgb(255 234 0 / 1)
}

.border-warning\/12 {
  border-color: rgb(255 234 0 / 0.12)
}

.border-warning\/15 {
  border-color: rgb(255 234 0 / 0.15)
}

.border-warning\/17 {
  border-color: rgb(255 234 0 / 0.17)
}

.border-warning\/20 {
  border-color: rgb(255 234 0 / 0.2)
}

.border-warning\/25 {
  border-color: rgb(255 234 0 / 0.25)
}

.border-warning\/27 {
  border-color: rgb(255 234 0 / 0.27)
}

.border-warning\/30 {
  border-color: rgb(255 234 0 / 0.3)
}

.border-warning\/35 {
  border-color: rgb(255 234 0 / 0.35)
}

.border-warning\/40 {
  border-color: rgb(255 234 0 / 0.4)
}

.border-warning\/45 {
  border-color: rgb(255 234 0 / 0.45)
}

.border-warning\/5 {
  border-color: rgb(255 234 0 / 0.05)
}

.border-warning\/50 {
  border-color: rgb(255 234 0 / 0.5)
}

.border-warning\/55 {
  border-color: rgb(255 234 0 / 0.55)
}

.border-warning\/60 {
  border-color: rgb(255 234 0 / 0.6)
}

.border-warning\/65 {
  border-color: rgb(255 234 0 / 0.65)
}

.border-warning\/70 {
  border-color: rgb(255 234 0 / 0.7)
}

.border-warning\/75 {
  border-color: rgb(255 234 0 / 0.75)
}

.border-warning\/8 {
  border-color: rgb(255 234 0 / 0.08)
}

.border-warning\/80 {
  border-color: rgb(255 234 0 / 0.8)
}

.border-warning\/85 {
  border-color: rgb(255 234 0 / 0.85)
}

.border-warning\/90 {
  border-color: rgb(255 234 0 / 0.9)
}

.border-warning\/95 {
  border-color: rgb(255 234 0 / 0.95)
}

.border-white\/15 {
  border-color: rgb(255 255 255 / 0.15)
}

.border-white\/30 {
  border-color: rgb(255 255 255 / 0.3)
}

.\!bg-transparent {
  background-color: transparent !important
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1))
}

.bg-black\/20 {
  background-color: rgb(0 0 0 / 0.2)
}

.bg-body {
  --tw-bg-opacity: 1;
  background-color: rgb(102 102 102 / var(--tw-bg-opacity, 1))
}

.bg-body\/0 {
  background-color: rgb(102 102 102 / 0)
}

.bg-body\/10 {
  background-color: rgb(102 102 102 / 0.1)
}

.bg-body\/100 {
  background-color: rgb(102 102 102 / 1)
}

.bg-body\/12 {
  background-color: rgb(102 102 102 / 0.12)
}

.bg-body\/15 {
  background-color: rgb(102 102 102 / 0.15)
}

.bg-body\/17 {
  background-color: rgb(102 102 102 / 0.17)
}

.bg-body\/20 {
  background-color: rgb(102 102 102 / 0.2)
}

.bg-body\/25 {
  background-color: rgb(102 102 102 / 0.25)
}

.bg-body\/27 {
  background-color: rgb(102 102 102 / 0.27)
}

.bg-body\/30 {
  background-color: rgb(102 102 102 / 0.3)
}

.bg-body\/35 {
  background-color: rgb(102 102 102 / 0.35)
}

.bg-body\/40 {
  background-color: rgb(102 102 102 / 0.4)
}

.bg-body\/45 {
  background-color: rgb(102 102 102 / 0.45)
}

.bg-body\/5 {
  background-color: rgb(102 102 102 / 0.05)
}

.bg-body\/50 {
  background-color: rgb(102 102 102 / 0.5)
}

.bg-body\/55 {
  background-color: rgb(102 102 102 / 0.55)
}

.bg-body\/60 {
  background-color: rgb(102 102 102 / 0.6)
}

.bg-body\/65 {
  background-color: rgb(102 102 102 / 0.65)
}

.bg-body\/70 {
  background-color: rgb(102 102 102 / 0.7)
}

.bg-body\/75 {
  background-color: rgb(102 102 102 / 0.75)
}

.bg-body\/8 {
  background-color: rgb(102 102 102 / 0.08)
}

.bg-body\/80 {
  background-color: rgb(102 102 102 / 0.8)
}

.bg-body\/85 {
  background-color: rgb(102 102 102 / 0.85)
}

.bg-body\/90 {
  background-color: rgb(102 102 102 / 0.9)
}

.bg-body\/95 {
  background-color: rgb(102 102 102 / 0.95)
}

.bg-danger {
  --tw-bg-opacity: 1;
  background-color: rgb(244 27 59 / var(--tw-bg-opacity, 1))
}

.bg-danger\/0 {
  background-color: rgb(244 27 59 / 0)
}

.bg-danger\/10 {
  background-color: rgb(244 27 59 / 0.1)
}

.bg-danger\/100 {
  background-color: rgb(244 27 59 / 1)
}

.bg-danger\/12 {
  background-color: rgb(244 27 59 / 0.12)
}

.bg-danger\/15 {
  background-color: rgb(244 27 59 / 0.15)
}

.bg-danger\/17 {
  background-color: rgb(244 27 59 / 0.17)
}

.bg-danger\/20 {
  background-color: rgb(244 27 59 / 0.2)
}

.bg-danger\/25 {
  background-color: rgb(244 27 59 / 0.25)
}

.bg-danger\/27 {
  background-color: rgb(244 27 59 / 0.27)
}

.bg-danger\/30 {
  background-color: rgb(244 27 59 / 0.3)
}

.bg-danger\/35 {
  background-color: rgb(244 27 59 / 0.35)
}

.bg-danger\/40 {
  background-color: rgb(244 27 59 / 0.4)
}

.bg-danger\/45 {
  background-color: rgb(244 27 59 / 0.45)
}

.bg-danger\/5 {
  background-color: rgb(244 27 59 / 0.05)
}

.bg-danger\/50 {
  background-color: rgb(244 27 59 / 0.5)
}

.bg-danger\/55 {
  background-color: rgb(244 27 59 / 0.55)
}

.bg-danger\/60 {
  background-color: rgb(244 27 59 / 0.6)
}

.bg-danger\/65 {
  background-color: rgb(244 27 59 / 0.65)
}

.bg-danger\/70 {
  background-color: rgb(244 27 59 / 0.7)
}

.bg-danger\/75 {
  background-color: rgb(244 27 59 / 0.75)
}

.bg-danger\/8 {
  background-color: rgb(244 27 59 / 0.08)
}

.bg-danger\/80 {
  background-color: rgb(244 27 59 / 0.8)
}

.bg-danger\/85 {
  background-color: rgb(244 27 59 / 0.85)
}

.bg-danger\/90 {
  background-color: rgb(244 27 59 / 0.9)
}

.bg-danger\/95 {
  background-color: rgb(244 27 59 / 0.95)
}

.bg-navy-black {
  --tw-bg-opacity: 1;
  background-color: rgb(15 15 23 / var(--tw-bg-opacity, 1))
}

.bg-navy-black\/0 {
  background-color: rgb(15 15 23 / 0)
}

.bg-navy-black\/10 {
  background-color: rgb(15 15 23 / 0.1)
}

.bg-navy-black\/100 {
  background-color: rgb(15 15 23 / 1)
}

.bg-navy-black\/12 {
  background-color: rgb(15 15 23 / 0.12)
}

.bg-navy-black\/15 {
  background-color: rgb(15 15 23 / 0.15)
}

.bg-navy-black\/17 {
  background-color: rgb(15 15 23 / 0.17)
}

.bg-navy-black\/20 {
  background-color: rgb(15 15 23 / 0.2)
}

.bg-navy-black\/25 {
  background-color: rgb(15 15 23 / 0.25)
}

.bg-navy-black\/27 {
  background-color: rgb(15 15 23 / 0.27)
}

.bg-navy-black\/30 {
  background-color: rgb(15 15 23 / 0.3)
}

.bg-navy-black\/35 {
  background-color: rgb(15 15 23 / 0.35)
}

.bg-navy-black\/40 {
  background-color: rgb(15 15 23 / 0.4)
}

.bg-navy-black\/45 {
  background-color: rgb(15 15 23 / 0.45)
}

.bg-navy-black\/5 {
  background-color: rgb(15 15 23 / 0.05)
}

.bg-navy-black\/50 {
  background-color: rgb(15 15 23 / 0.5)
}

.bg-navy-black\/55 {
  background-color: rgb(15 15 23 / 0.55)
}

.bg-navy-black\/60 {
  background-color: rgb(15 15 23 / 0.6)
}

.bg-navy-black\/65 {
  background-color: rgb(15 15 23 / 0.65)
}

.bg-navy-black\/70 {
  background-color: rgb(15 15 23 / 0.7)
}

.bg-navy-black\/75 {
  background-color: rgb(15 15 23 / 0.75)
}

.bg-navy-black\/8 {
  background-color: rgb(15 15 23 / 0.08)
}

.bg-navy-black\/80 {
  background-color: rgb(15 15 23 / 0.8)
}

.bg-navy-black\/85 {
  background-color: rgb(15 15 23 / 0.85)
}

.bg-navy-black\/90 {
  background-color: rgb(15 15 23 / 0.9)
}

.bg-navy-black\/95 {
  background-color: rgb(15 15 23 / 0.95)
}

.bg-primary {
  --tw-bg-opacity: 1;
  background-color: rgb(109 93 252 / var(--tw-bg-opacity, 1))
}

.bg-primary\/0 {
  background-color: rgb(109 93 252 / 0)
}

.bg-primary\/10 {
  background-color: rgb(109 93 252 / 0.1)
}

.bg-primary\/100 {
  background-color: rgb(109 93 252 / 1)
}

.bg-primary\/12 {
  background-color: rgb(109 93 252 / 0.12)
}

.bg-primary\/15 {
  background-color: rgb(109 93 252 / 0.15)
}

.bg-primary\/17 {
  background-color: rgb(109 93 252 / 0.17)
}

.bg-primary\/20 {
  background-color: rgb(109 93 252 / 0.2)
}

.bg-primary\/25 {
  background-color: rgb(109 93 252 / 0.25)
}

.bg-primary\/27 {
  background-color: rgb(109 93 252 / 0.27)
}

.bg-primary\/30 {
  background-color: rgb(109 93 252 / 0.3)
}

.bg-primary\/35 {
  background-color: rgb(109 93 252 / 0.35)
}

.bg-primary\/40 {
  background-color: rgb(109 93 252 / 0.4)
}

.bg-primary\/45 {
  background-color: rgb(109 93 252 / 0.45)
}

.bg-primary\/5 {
  background-color: rgb(109 93 252 / 0.05)
}

.bg-primary\/50 {
  background-color: rgb(109 93 252 / 0.5)
}

.bg-primary\/55 {
  background-color: rgb(109 93 252 / 0.55)
}

.bg-primary\/60 {
  background-color: rgb(109 93 252 / 0.6)
}

.bg-primary\/65 {
  background-color: rgb(109 93 252 / 0.65)
}

.bg-primary\/70 {
  background-color: rgb(109 93 252 / 0.7)
}

.bg-primary\/75 {
  background-color: rgb(109 93 252 / 0.75)
}

.bg-primary\/8 {
  background-color: rgb(109 93 252 / 0.08)
}

.bg-primary\/80 {
  background-color: rgb(109 93 252 / 0.8)
}

.bg-primary\/85 {
  background-color: rgb(109 93 252 / 0.85)
}

.bg-primary\/90 {
  background-color: rgb(109 93 252 / 0.9)
}

.bg-primary\/95 {
  background-color: rgb(109 93 252 / 0.95)
}

.bg-secondary {
  --tw-bg-opacity: 1;
  background-color: rgb(174 153 250 / var(--tw-bg-opacity, 1))
}

.bg-secondary\/0 {
  background-color: rgb(174 153 250 / 0)
}

.bg-secondary\/10 {
  background-color: rgb(174 153 250 / 0.1)
}

.bg-secondary\/100 {
  background-color: rgb(174 153 250 / 1)
}

.bg-secondary\/12 {
  background-color: rgb(174 153 250 / 0.12)
}

.bg-secondary\/15 {
  background-color: rgb(174 153 250 / 0.15)
}

.bg-secondary\/17 {
  background-color: rgb(174 153 250 / 0.17)
}

.bg-secondary\/20 {
  background-color: rgb(174 153 250 / 0.2)
}

.bg-secondary\/25 {
  background-color: rgb(174 153 250 / 0.25)
}

.bg-secondary\/27 {
  background-color: rgb(174 153 250 / 0.27)
}

.bg-secondary\/30 {
  background-color: rgb(174 153 250 / 0.3)
}

.bg-secondary\/35 {
  background-color: rgb(174 153 250 / 0.35)
}

.bg-secondary\/40 {
  background-color: rgb(174 153 250 / 0.4)
}

.bg-secondary\/45 {
  background-color: rgb(174 153 250 / 0.45)
}

.bg-secondary\/5 {
  background-color: rgb(174 153 250 / 0.05)
}

.bg-secondary\/50 {
  background-color: rgb(174 153 250 / 0.5)
}

.bg-secondary\/55 {
  background-color: rgb(174 153 250 / 0.55)
}

.bg-secondary\/60 {
  background-color: rgb(174 153 250 / 0.6)
}

.bg-secondary\/65 {
  background-color: rgb(174 153 250 / 0.65)
}

.bg-secondary\/70 {
  background-color: rgb(174 153 250 / 0.7)
}

.bg-secondary\/75 {
  background-color: rgb(174 153 250 / 0.75)
}

.bg-secondary\/8 {
  background-color: rgb(174 153 250 / 0.08)
}

.bg-secondary\/80 {
  background-color: rgb(174 153 250 / 0.8)
}

.bg-secondary\/85 {
  background-color: rgb(174 153 250 / 0.85)
}

.bg-secondary\/90 {
  background-color: rgb(174 153 250 / 0.9)
}

.bg-secondary\/95 {
  background-color: rgb(174 153 250 / 0.95)
}

.bg-success {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity, 1))
}

.bg-success\/0 {
  background-color: rgb(34 197 94 / 0)
}

.bg-success\/10 {
  background-color: rgb(34 197 94 / 0.1)
}

.bg-success\/100 {
  background-color: rgb(34 197 94 / 1)
}

.bg-success\/12 {
  background-color: rgb(34 197 94 / 0.12)
}

.bg-success\/15 {
  background-color: rgb(34 197 94 / 0.15)
}

.bg-success\/17 {
  background-color: rgb(34 197 94 / 0.17)
}

.bg-success\/20 {
  background-color: rgb(34 197 94 / 0.2)
}

.bg-success\/25 {
  background-color: rgb(34 197 94 / 0.25)
}

.bg-success\/27 {
  background-color: rgb(34 197 94 / 0.27)
}

.bg-success\/30 {
  background-color: rgb(34 197 94 / 0.3)
}

.bg-success\/35 {
  background-color: rgb(34 197 94 / 0.35)
}

.bg-success\/40 {
  background-color: rgb(34 197 94 / 0.4)
}

.bg-success\/45 {
  background-color: rgb(34 197 94 / 0.45)
}

.bg-success\/5 {
  background-color: rgb(34 197 94 / 0.05)
}

.bg-success\/50 {
  background-color: rgb(34 197 94 / 0.5)
}

.bg-success\/55 {
  background-color: rgb(34 197 94 / 0.55)
}

.bg-success\/60 {
  background-color: rgb(34 197 94 / 0.6)
}

.bg-success\/65 {
  background-color: rgb(34 197 94 / 0.65)
}

.bg-success\/70 {
  background-color: rgb(34 197 94 / 0.7)
}

.bg-success\/75 {
  background-color: rgb(34 197 94 / 0.75)
}

.bg-success\/8 {
  background-color: rgb(34 197 94 / 0.08)
}

.bg-success\/80 {
  background-color: rgb(34 197 94 / 0.8)
}

.bg-success\/85 {
  background-color: rgb(34 197 94 / 0.85)
}

.bg-success\/90 {
  background-color: rgb(34 197 94 / 0.9)
}

.bg-success\/95 {
  background-color: rgb(34 197 94 / 0.95)
}

.bg-transparent {
  background-color: transparent
}

.bg-warning {
  --tw-bg-opacity: 1;
  background-color: rgb(255 234 0 / var(--tw-bg-opacity, 1))
}

.bg-warning\/0 {
  background-color: rgb(255 234 0 / 0)
}

.bg-warning\/10 {
  background-color: rgb(255 234 0 / 0.1)
}

.bg-warning\/100 {
  background-color: rgb(255 234 0 / 1)
}

.bg-warning\/12 {
  background-color: rgb(255 234 0 / 0.12)
}

.bg-warning\/15 {
  background-color: rgb(255 234 0 / 0.15)
}

.bg-warning\/17 {
  background-color: rgb(255 234 0 / 0.17)
}

.bg-warning\/20 {
  background-color: rgb(255 234 0 / 0.2)
}

.bg-warning\/25 {
  background-color: rgb(255 234 0 / 0.25)
}

.bg-warning\/27 {
  background-color: rgb(255 234 0 / 0.27)
}

.bg-warning\/30 {
  background-color: rgb(255 234 0 / 0.3)
}

.bg-warning\/35 {
  background-color: rgb(255 234 0 / 0.35)
}

.bg-warning\/40 {
  background-color: rgb(255 234 0 / 0.4)
}

.bg-warning\/45 {
  background-color: rgb(255 234 0 / 0.45)
}

.bg-warning\/5 {
  background-color: rgb(255 234 0 / 0.05)
}

.bg-warning\/50 {
  background-color: rgb(255 234 0 / 0.5)
}

.bg-warning\/55 {
  background-color: rgb(255 234 0 / 0.55)
}

.bg-warning\/60 {
  background-color: rgb(255 234 0 / 0.6)
}

.bg-warning\/65 {
  background-color: rgb(255 234 0 / 0.65)
}

.bg-warning\/70 {
  background-color: rgb(255 234 0 / 0.7)
}

.bg-warning\/75 {
  background-color: rgb(255 234 0 / 0.75)
}

.bg-warning\/8 {
  background-color: rgb(255 234 0 / 0.08)
}

.bg-warning\/80 {
  background-color: rgb(255 234 0 / 0.8)
}

.bg-warning\/85 {
  background-color: rgb(255 234 0 / 0.85)
}

.bg-warning\/90 {
  background-color: rgb(255 234 0 / 0.9)
}

.bg-warning\/95 {
  background-color: rgb(255 234 0 / 0.95)
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1))
}

.bg-white\/20 {
  background-color: rgb(255 255 255 / 0.2)
}

.bg-white\/30 {
  background-color: rgb(255 255 255 / 0.3)
}

.via-black\/30 {
  --tw-gradient-to: rgb(0 0 0 / 0)  var(--tw-gradient-to-position);
  --tw-gradient-stops: var(--tw-gradient-from), rgb(0 0 0 / 0.3) var(--tw-gradient-via-position), var(--tw-gradient-to)
}

.to-\[\#18181f\]\/60 {
  --tw-gradient-to: rgb(24 24 31 / 0.6) var(--tw-gradient-to-position)
}

.p-0 {
  padding: 0px
}

.p-3 {
  padding: 0.75rem
}

.\!px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.py-\[10px\] {
  padding-top: 10px;
  padding-bottom: 10px
}

.py-\[15px\] {
  padding-top: 15px;
  padding-bottom: 15px
}

.pt-2 {
  padding-top: 0.5rem
}

.text-center {
  text-align: center
}

.text-end {
  text-align: end
}

.text-13 {
  font-size: 13px;
  line-height: 20px
}

.text-15 {
  font-size: 15px;
  line-height: 22px
}

.text-\[22px\] {
  font-size: 22px
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.\!font-black {
  font-weight: 900 !important
}

.\!font-extrabold {
  font-weight: 800 !important
}

.font-bold {
  font-weight: 700
}

.uppercase {
  text-transform: uppercase
}

.leading-\[1\.4\] {
  line-height: 1.4
}

.leading-none {
  line-height: 1
}

.\!text-black {
  --tw-text-opacity: 1 !important;
  color: rgb(0 0 0 / var(--tw-text-opacity, 1)) !important
}

.text-\[\#666666\] {
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity, 1))
}

.text-\[\#ae99fa\] {
  --tw-text-opacity: 1;
  color: rgb(174 153 250 / var(--tw-text-opacity, 1))
}

.text-body {
  --tw-text-opacity: 1;
  color: rgb(102 102 102 / var(--tw-text-opacity, 1))
}

.text-body\/0 {
  color: rgb(102 102 102 / 0)
}

.text-body\/10 {
  color: rgb(102 102 102 / 0.1)
}

.text-body\/100 {
  color: rgb(102 102 102 / 1)
}

.text-body\/12 {
  color: rgb(102 102 102 / 0.12)
}

.text-body\/15 {
  color: rgb(102 102 102 / 0.15)
}

.text-body\/17 {
  color: rgb(102 102 102 / 0.17)
}

.text-body\/20 {
  color: rgb(102 102 102 / 0.2)
}

.text-body\/25 {
  color: rgb(102 102 102 / 0.25)
}

.text-body\/27 {
  color: rgb(102 102 102 / 0.27)
}

.text-body\/30 {
  color: rgb(102 102 102 / 0.3)
}

.text-body\/35 {
  color: rgb(102 102 102 / 0.35)
}

.text-body\/40 {
  color: rgb(102 102 102 / 0.4)
}

.text-body\/45 {
  color: rgb(102 102 102 / 0.45)
}

.text-body\/5 {
  color: rgb(102 102 102 / 0.05)
}

.text-body\/50 {
  color: rgb(102 102 102 / 0.5)
}

.text-body\/55 {
  color: rgb(102 102 102 / 0.55)
}

.text-body\/60 {
  color: rgb(102 102 102 / 0.6)
}

.text-body\/65 {
  color: rgb(102 102 102 / 0.65)
}

.text-body\/70 {
  color: rgb(102 102 102 / 0.7)
}

.text-body\/75 {
  color: rgb(102 102 102 / 0.75)
}

.text-body\/8 {
  color: rgb(102 102 102 / 0.08)
}

.text-body\/80 {
  color: rgb(102 102 102 / 0.8)
}

.text-body\/85 {
  color: rgb(102 102 102 / 0.85)
}

.text-body\/90 {
  color: rgb(102 102 102 / 0.9)
}

.text-body\/95 {
  color: rgb(102 102 102 / 0.95)
}

.text-danger {
  --tw-text-opacity: 1;
  color: rgb(244 27 59 / var(--tw-text-opacity, 1))
}

.text-danger\/0 {
  color: rgb(244 27 59 / 0)
}

.text-danger\/10 {
  color: rgb(244 27 59 / 0.1)
}

.text-danger\/100 {
  color: rgb(244 27 59 / 1)
}

.text-danger\/12 {
  color: rgb(244 27 59 / 0.12)
}

.text-danger\/15 {
  color: rgb(244 27 59 / 0.15)
}

.text-danger\/17 {
  color: rgb(244 27 59 / 0.17)
}

.text-danger\/20 {
  color: rgb(244 27 59 / 0.2)
}

.text-danger\/25 {
  color: rgb(244 27 59 / 0.25)
}

.text-danger\/27 {
  color: rgb(244 27 59 / 0.27)
}

.text-danger\/30 {
  color: rgb(244 27 59 / 0.3)
}

.text-danger\/35 {
  color: rgb(244 27 59 / 0.35)
}

.text-danger\/40 {
  color: rgb(244 27 59 / 0.4)
}

.text-danger\/45 {
  color: rgb(244 27 59 / 0.45)
}

.text-danger\/5 {
  color: rgb(244 27 59 / 0.05)
}

.text-danger\/50 {
  color: rgb(244 27 59 / 0.5)
}

.text-danger\/55 {
  color: rgb(244 27 59 / 0.55)
}

.text-danger\/60 {
  color: rgb(244 27 59 / 0.6)
}

.text-danger\/65 {
  color: rgb(244 27 59 / 0.65)
}

.text-danger\/70 {
  color: rgb(244 27 59 / 0.7)
}

.text-danger\/75 {
  color: rgb(244 27 59 / 0.75)
}

.text-danger\/8 {
  color: rgb(244 27 59 / 0.08)
}

.text-danger\/80 {
  color: rgb(244 27 59 / 0.8)
}

.text-danger\/85 {
  color: rgb(244 27 59 / 0.85)
}

.text-danger\/90 {
  color: rgb(244 27 59 / 0.9)
}

.text-danger\/95 {
  color: rgb(244 27 59 / 0.95)
}

.text-navy-black {
  --tw-text-opacity: 1;
  color: rgb(15 15 23 / var(--tw-text-opacity, 1))
}

.text-navy-black\/0 {
  color: rgb(15 15 23 / 0)
}

.text-navy-black\/10 {
  color: rgb(15 15 23 / 0.1)
}

.text-navy-black\/100 {
  color: rgb(15 15 23 / 1)
}

.text-navy-black\/12 {
  color: rgb(15 15 23 / 0.12)
}

.text-navy-black\/15 {
  color: rgb(15 15 23 / 0.15)
}

.text-navy-black\/17 {
  color: rgb(15 15 23 / 0.17)
}

.text-navy-black\/20 {
  color: rgb(15 15 23 / 0.2)
}

.text-navy-black\/25 {
  color: rgb(15 15 23 / 0.25)
}

.text-navy-black\/27 {
  color: rgb(15 15 23 / 0.27)
}

.text-navy-black\/30 {
  color: rgb(15 15 23 / 0.3)
}

.text-navy-black\/35 {
  color: rgb(15 15 23 / 0.35)
}

.text-navy-black\/40 {
  color: rgb(15 15 23 / 0.4)
}

.text-navy-black\/45 {
  color: rgb(15 15 23 / 0.45)
}

.text-navy-black\/5 {
  color: rgb(15 15 23 / 0.05)
}

.text-navy-black\/50 {
  color: rgb(15 15 23 / 0.5)
}

.text-navy-black\/55 {
  color: rgb(15 15 23 / 0.55)
}

.text-navy-black\/60 {
  color: rgb(15 15 23 / 0.6)
}

.text-navy-black\/65 {
  color: rgb(15 15 23 / 0.65)
}

.text-navy-black\/70 {
  color: rgb(15 15 23 / 0.7)
}

.text-navy-black\/75 {
  color: rgb(15 15 23 / 0.75)
}

.text-navy-black\/8 {
  color: rgb(15 15 23 / 0.08)
}

.text-navy-black\/80 {
  color: rgb(15 15 23 / 0.8)
}

.text-navy-black\/85 {
  color: rgb(15 15 23 / 0.85)
}

.text-navy-black\/90 {
  color: rgb(15 15 23 / 0.9)
}

.text-navy-black\/95 {
  color: rgb(15 15 23 / 0.95)
}

.text-primary {
  --tw-text-opacity: 1;
  color: rgb(109 93 252 / var(--tw-text-opacity, 1))
}

.text-primary\/0 {
  color: rgb(109 93 252 / 0)
}

.text-primary\/10 {
  color: rgb(109 93 252 / 0.1)
}

.text-primary\/100 {
  color: rgb(109 93 252 / 1)
}

.text-primary\/12 {
  color: rgb(109 93 252 / 0.12)
}

.text-primary\/15 {
  color: rgb(109 93 252 / 0.15)
}

.text-primary\/17 {
  color: rgb(109 93 252 / 0.17)
}

.text-primary\/20 {
  color: rgb(109 93 252 / 0.2)
}

.text-primary\/25 {
  color: rgb(109 93 252 / 0.25)
}

.text-primary\/27 {
  color: rgb(109 93 252 / 0.27)
}

.text-primary\/30 {
  color: rgb(109 93 252 / 0.3)
}

.text-primary\/35 {
  color: rgb(109 93 252 / 0.35)
}

.text-primary\/40 {
  color: rgb(109 93 252 / 0.4)
}

.text-primary\/45 {
  color: rgb(109 93 252 / 0.45)
}

.text-primary\/5 {
  color: rgb(109 93 252 / 0.05)
}

.text-primary\/50 {
  color: rgb(109 93 252 / 0.5)
}

.text-primary\/55 {
  color: rgb(109 93 252 / 0.55)
}

.text-primary\/60 {
  color: rgb(109 93 252 / 0.6)
}

.text-primary\/65 {
  color: rgb(109 93 252 / 0.65)
}

.text-primary\/70 {
  color: rgb(109 93 252 / 0.7)
}

.text-primary\/75 {
  color: rgb(109 93 252 / 0.75)
}

.text-primary\/8 {
  color: rgb(109 93 252 / 0.08)
}

.text-primary\/80 {
  color: rgb(109 93 252 / 0.8)
}

.text-primary\/85 {
  color: rgb(109 93 252 / 0.85)
}

.text-primary\/90 {
  color: rgb(109 93 252 / 0.9)
}

.text-primary\/95 {
  color: rgb(109 93 252 / 0.95)
}

.text-secondary {
  --tw-text-opacity: 1;
  color: rgb(174 153 250 / var(--tw-text-opacity, 1))
}

.text-secondary\/0 {
  color: rgb(174 153 250 / 0)
}

.text-secondary\/10 {
  color: rgb(174 153 250 / 0.1)
}

.text-secondary\/100 {
  color: rgb(174 153 250 / 1)
}

.text-secondary\/12 {
  color: rgb(174 153 250 / 0.12)
}

.text-secondary\/15 {
  color: rgb(174 153 250 / 0.15)
}

.text-secondary\/17 {
  color: rgb(174 153 250 / 0.17)
}

.text-secondary\/20 {
  color: rgb(174 153 250 / 0.2)
}

.text-secondary\/25 {
  color: rgb(174 153 250 / 0.25)
}

.text-secondary\/27 {
  color: rgb(174 153 250 / 0.27)
}

.text-secondary\/30 {
  color: rgb(174 153 250 / 0.3)
}

.text-secondary\/35 {
  color: rgb(174 153 250 / 0.35)
}

.text-secondary\/40 {
  color: rgb(174 153 250 / 0.4)
}

.text-secondary\/45 {
  color: rgb(174 153 250 / 0.45)
}

.text-secondary\/5 {
  color: rgb(174 153 250 / 0.05)
}

.text-secondary\/50 {
  color: rgb(174 153 250 / 0.5)
}

.text-secondary\/55 {
  color: rgb(174 153 250 / 0.55)
}

.text-secondary\/60 {
  color: rgb(174 153 250 / 0.6)
}

.text-secondary\/65 {
  color: rgb(174 153 250 / 0.65)
}

.text-secondary\/70 {
  color: rgb(174 153 250 / 0.7)
}

.text-secondary\/75 {
  color: rgb(174 153 250 / 0.75)
}

.text-secondary\/8 {
  color: rgb(174 153 250 / 0.08)
}

.text-secondary\/80 {
  color: rgb(174 153 250 / 0.8)
}

.text-secondary\/85 {
  color: rgb(174 153 250 / 0.85)
}

.text-secondary\/90 {
  color: rgb(174 153 250 / 0.9)
}

.text-secondary\/95 {
  color: rgb(174 153 250 / 0.95)
}

.text-success {
  --tw-text-opacity: 1;
  color: rgb(34 197 94 / var(--tw-text-opacity, 1))
}

.text-success\/0 {
  color: rgb(34 197 94 / 0)
}

.text-success\/10 {
  color: rgb(34 197 94 / 0.1)
}

.text-success\/100 {
  color: rgb(34 197 94 / 1)
}

.text-success\/12 {
  color: rgb(34 197 94 / 0.12)
}

.text-success\/15 {
  color: rgb(34 197 94 / 0.15)
}

.text-success\/17 {
  color: rgb(34 197 94 / 0.17)
}

.text-success\/20 {
  color: rgb(34 197 94 / 0.2)
}

.text-success\/25 {
  color: rgb(34 197 94 / 0.25)
}

.text-success\/27 {
  color: rgb(34 197 94 / 0.27)
}

.text-success\/30 {
  color: rgb(34 197 94 / 0.3)
}

.text-success\/35 {
  color: rgb(34 197 94 / 0.35)
}

.text-success\/40 {
  color: rgb(34 197 94 / 0.4)
}

.text-success\/45 {
  color: rgb(34 197 94 / 0.45)
}

.text-success\/5 {
  color: rgb(34 197 94 / 0.05)
}

.text-success\/50 {
  color: rgb(34 197 94 / 0.5)
}

.text-success\/55 {
  color: rgb(34 197 94 / 0.55)
}

.text-success\/60 {
  color: rgb(34 197 94 / 0.6)
}

.text-success\/65 {
  color: rgb(34 197 94 / 0.65)
}

.text-success\/70 {
  color: rgb(34 197 94 / 0.7)
}

.text-success\/75 {
  color: rgb(34 197 94 / 0.75)
}

.text-success\/8 {
  color: rgb(34 197 94 / 0.08)
}

.text-success\/80 {
  color: rgb(34 197 94 / 0.8)
}

.text-success\/85 {
  color: rgb(34 197 94 / 0.85)
}

.text-success\/90 {
  color: rgb(34 197 94 / 0.9)
}

.text-success\/95 {
  color: rgb(34 197 94 / 0.95)
}

.text-warning {
  --tw-text-opacity: 1;
  color: rgb(255 234 0 / var(--tw-text-opacity, 1))
}

.text-warning\/0 {
  color: rgb(255 234 0 / 0)
}

.text-warning\/10 {
  color: rgb(255 234 0 / 0.1)
}

.text-warning\/100 {
  color: rgb(255 234 0 / 1)
}

.text-warning\/12 {
  color: rgb(255 234 0 / 0.12)
}

.text-warning\/15 {
  color: rgb(255 234 0 / 0.15)
}

.text-warning\/17 {
  color: rgb(255 234 0 / 0.17)
}

.text-warning\/20 {
  color: rgb(255 234 0 / 0.2)
}

.text-warning\/25 {
  color: rgb(255 234 0 / 0.25)
}

.text-warning\/27 {
  color: rgb(255 234 0 / 0.27)
}

.text-warning\/30 {
  color: rgb(255 234 0 / 0.3)
}

.text-warning\/35 {
  color: rgb(255 234 0 / 0.35)
}

.text-warning\/40 {
  color: rgb(255 234 0 / 0.4)
}

.text-warning\/45 {
  color: rgb(255 234 0 / 0.45)
}

.text-warning\/5 {
  color: rgb(255 234 0 / 0.05)
}

.text-warning\/50 {
  color: rgb(255 234 0 / 0.5)
}

.text-warning\/55 {
  color: rgb(255 234 0 / 0.55)
}

.text-warning\/60 {
  color: rgb(255 234 0 / 0.6)
}

.text-warning\/65 {
  color: rgb(255 234 0 / 0.65)
}

.text-warning\/70 {
  color: rgb(255 234 0 / 0.7)
}

.text-warning\/75 {
  color: rgb(255 234 0 / 0.75)
}

.text-warning\/8 {
  color: rgb(255 234 0 / 0.08)
}

.text-warning\/80 {
  color: rgb(255 234 0 / 0.8)
}

.text-warning\/85 {
  color: rgb(255 234 0 / 0.85)
}

.text-warning\/90 {
  color: rgb(255 234 0 / 0.9)
}

.text-warning\/95 {
  color: rgb(255 234 0 / 0.95)
}

.text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.text-white\/30 {
  color: rgb(255 255 255 / 0.3)
}

.underline {
  text-decoration-line: underline
}

.opacity-0 {
  opacity: 0
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.backdrop-blur-\[4\.5px\] {
  --tw-backdrop-blur: blur(4.5px);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.duration-300 {
  transition-duration: 300ms
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.before\:absolute::before {
  content: var(--tw-content);
  position: absolute
}

.before\:bottom-0::before {
  content: var(--tw-content);
  bottom: 0px
}

.before\:left-0::before {
  content: var(--tw-content);
  left: 0px
}

.before\:right-0::before {
  content: var(--tw-content);
  right: 0px
}

.before\:h-px::before {
  content: var(--tw-content);
  height: 1px
}

.before\:bg-secondary::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(174 153 250 / var(--tw-bg-opacity, 1))
}

.before\:transition-all::before {
  content: var(--tw-content);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.before\:duration-300::before {
  content: var(--tw-content);
  transition-duration: 300ms
}

.before\:ease-in-out::before {
  content: var(--tw-content);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.hover\:bg-primary:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(109 93 252 / var(--tw-bg-opacity, 1))
}

.hover\:text-primary:hover {
  --tw-text-opacity: 1;
  color: rgb(109 93 252 / var(--tw-text-opacity, 1))
}

.hover\:text-secondary:hover {
  --tw-text-opacity: 1;
  color: rgb(174 153 250 / var(--tw-text-opacity, 1))
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1))
}

.hover\:before\:scale-x-0:hover::before {
  content: var(--tw-content);
  --tw-scale-x: 0;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.hover\:before\:bg-primary:hover::before {
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(109 93 252 / var(--tw-bg-opacity, 1))
}

.group:hover .group-hover\:visible {
  visibility: visible
}

.group:hover .group-hover\:bottom-\[20px\] {
  bottom: 20px
}

.group:hover .group-hover\:text-primary {
  --tw-text-opacity: 1;
  color: rgb(109 93 252 / var(--tw-text-opacity, 1))
}

.group:hover .group-hover\:text-secondary {
  --tw-text-opacity: 1;
  color: rgb(174 153 250 / var(--tw-text-opacity, 1))
}

.group:hover .group-hover\:opacity-100 {
  opacity: 1
}

@media (min-width: 768px) {
  .md\:\!absolute {
    position: absolute !important
  }

  .md\:\!top-1\/2 {
    top: 50% !important
  }

  .md\:mb-\[11px\] {
    margin-bottom: 11px
  }

  .md\:mb-\[35px\] {
    margin-bottom: 35px
  }

  .md\:mt-0 {
    margin-top: 0px
  }

  .md\:flex {
    display: flex
  }

  .md\:h-\[45px\] {
    height: 45px
  }

  .md\:w-\[45px\] {
    width: 45px
  }

  .md\:\!transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) !important
  }

  .md\:text-\[26px\] {
    font-size: 26px
  }

  .md\:text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
  }

  .md\:text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
  }

  .md\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

@media (min-width: 1024px) {
  .lg\:col-span-1 {
    grid-column: span 1 / span 1
  }

  .lg\:mb-\[45px\] {
    margin-bottom: 45px
  }

  .lg\:h-\[50px\] {
    height: 50px
  }

  .lg\:w-\[50px\] {
    width: 50px
  }

  .lg\:\!py-0 {
    padding-top: 0px !important;
    padding-bottom: 0px !important
  }

  .lg\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px
  }

  .lg\:text-15 {
    font-size: 15px;
    line-height: 22px
  }

  .lg\:text-\[22px\] {
    font-size: 22px
  }

  .lg\:text-\[32px\] {
    font-size: 32px
  }

  .lg\:text-base {
    font-size: 1rem;
    line-height: 1.5rem
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
  }
}

@media (min-width: 1280px) {
  .xl\:py-\[10px\] {
    padding-top: 10px;
    padding-bottom: 10px
  }
}

.ltr\:border-l:where([dir="ltr"], [dir="ltr"] *) {
  border-left-width: 1px
}

.ltr\:\!bg-\[right_0px_center\]:where([dir="ltr"], [dir="ltr"] *) {
  background-position: right 0px center !important
}

.ltr\:\!pr-\[25px\]:where([dir="ltr"], [dir="ltr"] *) {
  padding-right: 25px !important
}

.rtl\:-scale-x-100:where([dir="rtl"], [dir="rtl"] *) {
  --tw-scale-x: -1;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.rtl\:border-r:where([dir="rtl"], [dir="rtl"] *) {
  border-right-width: 1px
}

.rtl\:\!bg-\[left_0px_center\]:where([dir="rtl"], [dir="rtl"] *) {
  background-position: left 0px center !important
}

.rtl\:\!pl-\[25px\]:where([dir="rtl"], [dir="rtl"] *) {
  padding-left: 25px !important
}
